services:
  Frontend:
    image: nginx:latest
    container_name: nginx
    ports:
      - "30000:80"
    volumes:
      - type: bind
        source: ./nginx/conf.d
        target: /etc/nginx/conf.d
        read_only: true
      - type: bind
        source: ./nginx/html
        target: /usr/share/nginx/html
        read_only: true
    networks:
      - default
    restart: unless-stopped
  Backend:
    image: knightfemale/backend:latest
    container_name: backend
    ports:
      - "30001:30001"
    environment:
      BACKEND_IN_DOCKER: "True"
      BACKEND_DEBUG: "${BACKEND_DEBUG}"
      FRONTEND_DOMAIN: "${FRONTEND_DOMAIN}"
    networks:
      - default
    command: uv run ./main.py
    restart: unless-stopped
  Database:
    image: postgres:latest
    container_name: postgres
    ports:
      - "30002:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: passwd
    volumes:
      - type: bind
        source: ./postgres/data
        target: /var/lib/postgresql/data
    networks:
      - default

networks:
  default:
    driver: bridge
