services:
  Frontend:
    image: nginx:latest
    container_name: "${COMPOSE_PROJECT_NAME}-frontend"
    ports:
      - "30000:80"
    volumes:
      - type: bind
        source: ./frontend/conf.d
        target: /etc/nginx/conf.d
        read_only: true
      - type: bind
        source: ./frontend/html
        target: /usr/share/nginx/html
        read_only: true
    restart: unless-stopped
    depends_on:
      - Backend
  Backend:
    image: knightfemale/djagon-backend:latest
    container_name: "${COMPOSE_PROJECT_NAME}-backend"
    ports:
      - "30001:30001"
    environment:
      SECRET_KEY: "${SECRET_KEY}"
      BACKEND_DEBUG: "${BACKEND_DEBUG}"
      FRONTEND_DOMAIN: "${FRONTEND_DOMAIN}"
      DATABASE_HOST: "${DATABASE_HOST}"
      DATABASE_PORT: "${DATABASE_PORT}"
      DATABASE_NAME: "${DATABASE_NAME}"
      DATABASE_USER: "${DATABASE_USER}"
      DATABASE_PASSWORD: "${DATABASE_PASSWORD}"
    volumes:
      - type: bind
        source: ./backend/logs
        target: /workspace/logs
    command: uv run ./main.py
    restart: unless-stopped
    depends_on:
      - Database
  Database:
    image: postgres:latest
    container_name: "${COMPOSE_PROJECT_NAME}-database"
    ports:
      - "30002:5432"
    environment:
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
    volumes:
      - type: bind
        source: ./database/data
        target: /var/lib/postgresql/data
    restart: unless-stopped
